scdd
scdd_gmp
lcdd
lcdd_gmp
redcheck
redcheck_gmp
fourier
fourier_gmp
projection
projection_gmp
adjacency
adjacency_gmp
allfaces
allfaces_gmp
testcdd1
testcdd1_gmp
testcdd2
testcdd2_gmp
testshoot
testshoot_gmp
testlp1
testlp1_gmp
testlp2
testlp2_gmp
testlp3
testlp3_gmp
redexter
redexter_gmp
redundancies
redundancies_gmp
redundancies_clarkson
redundancies_clarkson_gmp
cddexec
cddexec_gmp
